/* MOBILE VIEW DEFAULT*/
.blogLayout {
  display: flex;
  flex-direction: column;
  margin: 0px 10%;
  min-height: 100vh;
  height: auto;
}

.blogLayout article {
  margin-bottom: 5px;
}

.blogHeader {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #eaeaea;
}

.blogHeader h1 {
  align-self: center;
  font-size: 2.3rem;
}

.blogLayout aside li {
  list-style-type: none;
  margin: 5px 5px;
}

.blogLayout p a {
  color: blue;
}

/* DESKTOP VIEW */
@media (min-width: 600px) {

  .contentLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    justify-content: center;
  }
  .content {
    padding: 0px 3%;
  }

	.blogLayout {
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: auto auto;
    margin: 0px 0px;
    height: auto;
  }

  .blogLayout article {
    grid-column: 1/2;
  }

  .blogLayout aside {
    grid-column: 2/3;
    border-left: solid 1px #eaeaea;
  }

  .blogLayout aside li {
    list-style-type: none;
    margin: 2% 2%;
  }
}