@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Questrial&family=Mulish:wght@600&family=Roboto&family=Staatliches&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
