.header {
	position: relative;
	padding-top: 1rem;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

}
.header h1 {
	padding-top: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 80px;
	cursor: pointer;
	text-rendering: optimizeSpeed;
	transition: visible 0.8s ease-in-out;
}
.header h4 {
	padding: 0px;
	margin: 0px;
	margin-top: 0.2rem;
	font-size: 15px;
	text-align: center;
	font-family: monospace;
}

/* DESKTOP VIEW */
@media (min-width: 600px) {

.header {
    font-size: 2rem;
    align-content: center;
  }
  .header h1 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header h4 {
    padding: 0px;
    margin: 0px;
    margin-top: 0.5rem;
  }
}