.header {
	position: relative;
	padding-top: 1rem;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

}
.header h1 {
	position: relative;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 80px;
	cursor: pointer;
	transition: opacity 0.8s ease-in-out;
}
.header h4 {
	padding: 0px;
	margin: 0px;
	margin-top: 0.2rem;
	font-size: 15px;
	text-align: center;
	font-family: monospace;
}

/* DESKTOP VIEW */
@media (min-width: 600px) {

	.header {
		align-content: center;
	}
	
	.header h1 {
		transition: all 1s ease-in-out;
  }
  .header h4 {
    padding: 0px;
    margin: 0px;
    margin-top: 0.5rem;
  }
  .header h1::before {
		content: '';
		position: absolute;
		display: flex;
		background: white;
		opacity: 1;
		left: -20px;
		right: -20px;
		height: 100%;
		z-index: -1;
	}
	.header h1::after {
		content: '';
		position: absolute;
		display: flex;
		background: black;
		opacity: 1;
		top: 0;
		left: 50%;
		width: 100vw;
		height: 100%;
		transform: translateX(-50%);
		z-index: -2;
		padding: 0%;
		margin: 0%;
	}
	
}
