/* MOBILE VIEW DEFAULT */
.container {
  min-height: 100vh;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  margin: 0px 0px;
  width: 100%;
  background-color: grey;
  min-height: 100vh;
  height: auto;
  overflow-y: hidden;
}

.b {
  margin: 0px 0px;
  width: 100%;
  background-color: darkslateblue;
  min-height: 100vh;
  height: auto;
  overflow-y: hidden;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 2rem 1rem;
  line-height: 1.15;
  font-size: 3rem;
  font-family: 'Mulish', sans-serif;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.blogCard {

}

.paragraph {
  text-indent: 2rem;
  text-align: start;
  margin: 2rem 1rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 100%;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-height: 370px;
  width: 90%;
  box-shadow: 0 10px 10px 0 black;
  overflow: hidden;
  
}

.card:hover,
.card:focus,
.card:active {
  color: #eaeaea;
  border-color: #eaeaea;
  overflow-y: scroll;
}

.card h1 {
  font-weight: bold;
}
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  line-height: 1.5;
}
.blogCard {
  display: flex;
  border: solid 1px #eaeaea;
  border-radius: 10px;
  color: inherit;
  text-align: center;
  max-height: 370px;
  width: 90%;
}

.logo {
  height: 1em;
}

/* DESKTOP VIEW */
@media (min-width: 600px) {

  .container {
    min-height: 100vh;
    padding: 0 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .a {
    margin: 0px 0px;
    width: 100%;
    background-color: grey;
    min-height: 100vh;
  }
  
  .b {
    margin: 0px 0px;
    width: 100%;
    background-color: darkslateblue;
    min-height: 100vh;
    height: auto;
  }

  .centerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 70%;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  
  .paragraph {
    text-indent: 2rem;
    text-align: start;
    margin: 2rem 6rem;
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-height: 370px;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    transform: scale(1.1);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .card::-webkit-scrollbar {
    display: none;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .logo {
    height: 1em;
  }
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .title {
    margin: 2rem 1rem;
    line-height: 1.15;
    font-size: 4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
